<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Cnx" connectionString="Data Source=CorpDesLegSAP;Initial Catalog=SorSeguros;User ID=sistseguro;Password=seguro;Integrated Security=false" />-->
    <add name="Cnx" connectionString="Data Source=189.198.134.30,7713;Initial Catalog=ADUASIS;User ID=alonsog;Password=Garza20$;Integrated Security=false" />
  </connectionStrings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>